#TagLine,#BrandName
{
    color: #5d5d5d;
    margin: 0;
}

#BrandName
{
    font-family: "Sansita Swashed";
    font-size: 72px;
}

#TagLine
{
    font-size: 24px;
    margin-left: 1.6vw;
}

.navbar
{
    background-color: #5d5d5d !important;
    height: 64px;
    top: 6vh;
    border-radius: 6px;
}

.navbar .nav-link
{
    color: white;
    transition: color 200ms;
    font-family: "Verdana";
}

.navbar .nav-link:hover
{
    color: #ffbf45;
}

.navbar .nav-link:active {
    color: white;
}

#mainCont
{
    top:6vh;
    left:1.8vmin;
}

.col-sm-12 *
{
    margin-top: 2px;
    width: 99%;
}
