#TagLine,#BrandName
{
    color: #5d5d5d;
    margin: 0;
}

#BrandName
{
    font-family: "Sansita Swashed";
    font-size: 11vh;
}

#TagLine
{
    font-size: 3vh;
    margin-left: 3vw;
}

.navbar
{
    background-color: #5d5d5d !important;
    height: 11vh;
    top: 6vh;
    border-radius: 6px;
}

.navbar .nav-link
{
    color: white;
    transition: color 200ms;
    font-family: "Verdana";
}

.navbar .nav-link:hover
{
    color: #ffbf45;
}

.navbar .nav-link:active {
    color: white;
}